* {
  margin: 500;
  padding: 50;
  box-sizing:500; border-box:500;
}
body {
  background-color: darkslateblue;
  color: red;
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  text-align: center;
  list-style-type: none;
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width:50%;
  float: left;
}
h1 {
  letter-spacing: 5px;
  font-size: 200px;
  font-family: 'Kanit', sans-serif;
  margin-top: 0;
  margin-bottom:100px
}
h2 {
  letter-spacing: 5px;
  font-size: 90px;
  font-family: 'Kanit', sans-serif;
  margin-top: 0;
  margin-bottom:0
}
a:hover {
  color: yellow;
}
a:link {
  color: Darkorange;
}
ul {
  list-style-type: none;
}
@media screen and (max-width: 1205px) {
  .col {
    width:100%;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 12rem
  }
