* {
  margin: 500;
  padding: 50;
  box-sizing:200; border-box:300;
}
body {
  background-color: #111111;
  color: red;
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 150px;
  font-family: 'Kanit', sans-serif;
}
