* {
  margin: 500;
  padding: 50;
  box-sizing:500; border-box:500;
}
body {
  background-color: #111111;
  color: red;
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
h1 {
  letter-spacing: 5px;
  font-size: 200px;
  font-family: 'Kanit', sans-serif;
  margin-top: 0;
  margin-bottom:0
}
