* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: image();
  background-color: 111111;
  color: Red;
  font-family: 'Kanit', sans-serif;
  font-size: 50px
}
p {
  color: Violet;
  font-family: 'Kanit', sans-serif;
  font-size: 30px
}
a:visited {
  color: yellow;
}
a:hover {
  color: whitesmoke; 
