* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-align: center;
}
body {
  background-image: url(../images/image-1.jpg);
  color: Red;
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}
p {
  color: Olive;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}
a:visited ,a:link {
  color: none;
}
a:hover {
  color: whitesmoke;
