* {
  box-sizing: border-box 50px;
  padding: 10px;
  margin: 50px;
}
body {
  text-align: center;
  font-family: arya-double, sans-serif;
  font-style: normal;
  font-weight: 800;
  list-style: none;
}
