* {
  box-sizing: border-box:50px ;
  padding: 25px;
  margin: 30px;
}
body {
  text-align: center;
  font-family: arya-triple-slant, sans-serif;
  font-style: normal;
  list-style: none;
}
h1 {
  font-size: 300px:
}
