* {
  box-sizing: border-box 50px;
  padding: 50px;
  margin: 100px;
}
body {
  text-align: center;
  font-family: acier-bat-gris, sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
}
